.Canvas{
    width:300px;
  height: 200px;
  border: 1px solid #CCC;
  margin: 40px 0;
  perspective: 600px;
}
.Form.is-flipped{
    transform:rotate(180deg);
}
.Form{
    width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}
.FormI{
   position: absolute;
  width: 100%;
  height: 100%;
  /* line-height: 260px; */
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;   
  border-radius: 10%;
}
.FormI--back{
    background:slategray;
    transform: rotateY(180deg);
}
.FormI--front{
    background:slategray;
    /* transform: rotateY(180deg); */
}